.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  padding-left: 95px;
  padding-right: 95px;
}

@media (max-width: 575px) {
  .header-container {
    padding: 15px;
  }
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.icon-title {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
}

.nav-items-list {
  display: flex;
  padding-left: 0px;
}

.link-item {
  list-style-type: none;
}

.route-link {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 16px;
}

@media (max-width: 767px) {
  .route-link {
    margin-left: 10px;
  }
  .icon-title {
    font-size: 20px;
  }
  .route-link {
    font-size: 20px;
  }
  .logo{
    height: 38px;
    width: 38px;
  }
}
@media screen and (max-width: 575px) {
  .logo{
    height: 30px;
    width: 30px;
  }
  .icon-title {
    font-size: 15px;
  }
  .route-link {
    font-size: 14px;
  }
 
}
